# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env

# Data, models, and outputs (ignore all, unless you want to track specific files)
data/
models/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode and IDE settings
.vscode/
.idea/