# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env

# Data, models, and outputs (ignore all, unless you want to track specific files)
data/
models/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode and IDE settings
.vscode/
.idea/

# Large files
ERCOT Backcasted load profiles 2014 to 2025/
ERCOT_OperationalWindProfiles_1980-2023_StandardAvailability_CST_UTC-6.csv